:root {
  --primary: #3d5a80;
  --secondary: #98c1d9;
  --tertiary: #e0fbfc;
  --colorfour: #ee8c4d;
  --colorfive: #293241;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tertiary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  background-color: var(--primary);
  color: var(--secondary);
  height: 20%;
  max-height: 600px;
  display: flex;
  width: auto;
  justify-content: space-evenly;
}

footer {
  position: relative;
  width: 100%;
  bottom: 0px;
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  justify-content: space-around;
}

h1 {
  margin: 10px;
  padding: 10px;
}

button {
  background-color: var(--manatee);
  color: var(--caribbean-green);
  border-style: none;
  font-size: x-large;
  margin: 10px;
  padding-bottom: 5px;
}

.nav {
  float: right;
  clear: both;
}

.headshot {
  border-radius: 50%;
  width: auto;
  height: auto;
  max-height: 200px;
  margin: 20px;
  float: left;
  shape-outside: circle();
}

.about {
  margin: 50px auto 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aboutMe {
  width: 50%;
  margin: auto;
}

.contactForm {
  margin: 0 auto 0 auto;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.contactForm textarea,
input {
  width: 60%;
}

.contact-form {
  width: 100%;
}

.resume {
  display: flex;
  background-color: var(--light);
  justify-content: space-around;
  padding: 10px;
}

.resume section {
  text-align: center;
  width: 30%;
}

.resume p {
  color: var(--colorfive);
  list-style: none;
}

.resume ul {
  list-style: none;
}

.resume h2 {
  color: var(--colorfour);
}

.resume h3 {
  font-size: medium;
}

.project {
  background-color: var(--secondary);
  width: 40%;
  padding: 50px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.portfolio {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 95%;
}

.githubIcon {
  width: 50px;
}

.projectImg {
  width: 300px;
  height: 300px;
  border-radius: 1.5rem;
  margin: 0 auto 0 auto;
}

.projectLinks {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

footer h2 {
  margin: auto;
}

.portfolio a {
  margin: auto;
  color: var(--colorfive);
  text-decoration: none;
}

footer a {
  margin: auto;
  color: var(--colorfour);
  text-decoration: none;
}

footer img {
  width: 35px;
  padding: 5px;
  margin: 5px;
}

.links {
  margin: auto;
}

@media only screen and (max-width: 1200px) {
  footer {
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  button {
    font-size: medium;
    padding-top: 15px;
    margin: 5px;
  }

  .about {
    width: 80%;
  }

  .projectImg {
    padding: 5px;
    width: 100px;
    height: 100px;
  }

  .resume h2 {
    font-size: large;
    padding: 5px;
  }

  footer h2 {
    padding-left: 20px;
  }

  .navBtn {
    font-size: large;
    padding-bottom: 10px;
  }

  .aboutMe {
    padding-bottom: 20px;
  }
}
